:root {
    --grey: #555555;
    --beige: #f1e7d4;
    --double-letter: #aabcbe;
    --triple-letter: #606e7b;
    --double-word: #e8a692;
    --triple-word: #a43236;
    --letter-tile: #f9f4ed;
 }
      
body {
    font-family: Helvetica;
    background-color: var(--letter-tile);
    margin: 0;
}
select, input {
    font-size: 32px;
    height: 50px;
}
.navbar {
	margin: 50px;
}
.main-container {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	margin: 50px;
}
.board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    width: 750px;
}
.scorecard-container {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	gap: 25px;
	min-height: 1000px;
}
.scorecard {
	font-size: 24px;	
	flex-basis: 0;
	flex-grow: 1;
	height: unset;
	background-color: var(--beige);
	border: none;
	padding: 10px;
}
.board {
    display: flex;
    flex-wrap: wrap;
    width: 750px;
}
.hand {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    border: 5px solid #005500;
    box-sizing: border-box;
    background-color: green;
    border-top-color: green;
}
.make-turn-button {
    flex-grow: 1;
    min-height: 59.33px;
    line-height: 59.33px !important;
}
.tile {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 35px;
    background-color: var(--beige);
    border: 2px solid var(--letter-tile);
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
}
.tile::after {
    display: block;
    position: absolute;
    bottom: -15px;;
    right: 2px;
    font-size: 15px;
}

.letter {
    background-color: var(--letter-tile) !important;
    border-color: var(--grey);
}
.red {
    border-color: red;
}
.green {
    border-color: green;
}
.blue {
    border-color: blue;
}
.yellow {
    border-color: yellow;
}
.e::after, .a::after, .i::after, .o::after, .n::after, .r::after, .t::after, .l::after, .s::after, .u::after {
    content: "1";
}
.d::after, .g::after {
    content: "2";
}
.b::after, .c::after, .m::after, .p::after {
    content: "3";
}
.f::after, .h::after, .v::after, .w::after, .y::after {
    content: "4";
}
.k::after {
    content: "5";
}
.j::after, .x::after {
    content: "8";
}
.q::after, .z::after {
    content: "10";
}

.double-letter {
    background-color: var(--double-letter);
}
.triple-letter {
    background-color: var(--triple-letter);
}
.double-word {
    background-color: var(--double-word);
}
.triple-word {
    background-color: var(--triple-word);
}
